<div class="footer bg mt-3 pt-3">
       
    <div class="row d-flex justify-content-around align-items-center text-light ">
      <div class="ftc col-md-12 col-lg-4">
         <h3><b>Radno Vreme:</b></h3>
         <span class="footer">Ponedeljak, Sreda, Petak:</span><br>
         <span class="footer"><b>20:00h - 21:30h</b></span><br><br>
         <span class="footer"><b>Tel: </b>+381 69 2279 339</span><br>
         <span class="footer"><b>Tel: </b>+381 69 2279 339</span><br>

      </div>
      
       <div class="ftc col-md-12 col-lg-4">
           <h3><b>Adresa:</b></h3>
           <span class="footer"><b>Knjaževačka 156</b></span><br>
           <span class="footer">18000 Niš, Srbija</span><br>
           <span class="footer">Sala škole Mike Antić</span><br>
           <span class="footer"><b>email:</b><b class="text-danger">  abv.nis@gmail.com</b></span><br><br>
           

           
      </div>
      <div class="ftc col-md-12 col-lg-4">
         <h3><b>Računi Za Uplatu:</b></h3>
         <span class="footer"><b>123-1234567-12: </b>(Prijava Takmicenja)</span><br>
         <span class="footer"><b>123-1234567-12: </b>(Uplata Članarine)</span><br><br><br><br>
      </div>
      

    </div>
    <br><br><br> 
    <div class="copy d-flex justify-content-center">
      <span class="copy text-muted ">Copyright &copy; 2019 Akademija Borilačkih Veština. Sva prava zadržana.</span>
    </div>
  </div>