<div class="row d-flex justify-content-around mt-5 mb-5">
            
    <div class="card col-sm-12 col-md-3 shadow p-3  mb-5 bg-white rounded " >
      <img src="assets/img/c1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Prvo mesto na Kupu Cara Konstantina</h5>
        <p class="card-text text-muted">Prosle nedelje smo na kupu Cara Konstantina Dobili prvo mesto u juniorskoj [...]</p>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
 Saznaj Više
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
 
 
    <div class="card col-sm-12 col-md-3 shadow p-3 mb-3 bg-white rounded">
      <img src="assets/img/c2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Upis Novih Clanova</h5>
        <p class="card-text text-muted">Od 01.09.2019. vrsimo upis novih clanova u sali Mike Antic u ulici  [...]</p><br>
               <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
  Saznaj Više
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
      </div>
    </div>
  
  
    <div class="card col-sm-12 col-md-3 shadow p-3  bg-white rounded ">
      <img src="assets/img/c3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Team Building</h5>
        <p class="card-text text-muted">Prosle nedelje smo imali Team Building sa IT firmom XTech.Proslo je sve kako treba [...]</p><br>
               <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
  Saznaj Više
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
      </div>
    </div>
  
</div>

<div class="row d-flex justify-content-around m-0">

  <div class="card col-sm-12 col-md-3 shadow p-3 mb-5 bg-white rounded ">
    <img src="assets/img/c4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Srebrna Medalja 15.12.2019</h5>
      <p class="card-text text-muted">Posle duge pauze Aleksandra Colovica, na takmicenju u Sapcu[...]</p>
             <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
  Saznaj Više
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
    </div>
  </div>


  <div class="card col-sm-12 col-md-3  shadow p-3 mb-3 bg-white rounded">
    <img src="assets/img/c5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Takmicenje u Sarajevu</h5>
      <p class="card-text text-muted">Na internacionalnom takmicenju u Sarajevu nasi takmicari se [...]</p><br>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
  Saznaj Više
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
    </div>
  </div>


  <div class="card col-sm-12 col-md-3 shadow p-3  bg-white rounded ">
    <img src="assets/img/c6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Priprema Za Prvenstvo Srbije</h5>
      <p class="card-text text-muted">Mladi borac Boris Sekulic se priprema za Prvenstvo Srbije koji ce[...]</p><br>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
  Saznaj Više
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
    </div>
  </div>

</div>
