<!--TRENER-->
<div class="headerImage">
    <div class="header-text d-flex justify-content-between">
        <div class="m-3"><img src="../../assets/img/logo1.png" alt=""></div>
        <h1 class="display-3 m-3 text-light font-weight-bold">O Klubu</h1>
    </div>
</div>

<div class="row d-flex m-0 justify-content-center my-4">
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center">

        <div class="col">
            <h4 class="display-4 text-dark" >Trener</h4>
    <hr>
            <span>Zvezdan Milenković je  jedan od pionira
                (WTF) olimpijskog tekvondo sporta u Jugoslaviji, član JUTKO-a (Jugoslovenski Tekvondo
                Koordinacioni Odbor). 
                 
            </span>

        </div>

    </div>
    <div class="col-lg-4 col-sm-12 d-flex justify-content-end ">
        <div class="mask  ">
            <button type="button" class="btn p-0 m-0" data-toggle="modal" data-target="#exampleModal">
                <img src="../../assets/img/placeholder1.jpg " class="m-0" alt="">
                <div class="middle">
                    <div class="text">John Doe</div>
                  </div>
            </button>
            <br>
            <small class="m-0">Zvezdan Milenković-Glavni Trener</small>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Zvezdan Milenković</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span> Dugogodišnji je član nacionalnog tima. Uporno je radio na razvoju taekwondo sporta na
                            prostorima bivše Jugoslavije (BiH i Srbiji). Kao trener i selektor reprezentacije Jugoslavije je na
                            evropskim i svetskim prvenstvima, svetskim kupovima i međunarodnim takmičenjima uspešno
                            predstavljao zemlju.</span><br><br>
                            
                            <span>Od mnogih nastupa i rezultata sa reprezentacijom, najznačajniji su:
                                − Reprezentacija Jugoslavije je nastupala na Svetskom Tekvondo Seniorskom Prvenstvu u
                                Seulu 1989 godine (Koreja) <br><br>
                                − Na Evropskom seniorskom prvenstvu u Arhusu, osvojene su dve
                                medalje;
                                − Na Svetskom Tekvondo Seniorskom Prvenstvu u Atini, Grčka 1991 godine bio je Selektor i
                                Trener reprezentacije Jugoslavije</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Pomocni trener-->
<div class="row d-flex m-0 justify-content-center my-4" id="pomocnitrener" >
    
    
    <div class="col-lg-4 col-sm-12 d-flex justify-content-start ml-4 ">
        <div class="mask  ">
            <button type="button" class="btn p-0 mt-3" data-toggle="modal" data-target="#exampleModal1">
                <img src="../../assets/img/placeholder.jpg " class="m-0" alt="">
            </button>
            <br>
            <small class="m-0">Andrija Milojević-Pomoćni Trener</small>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Andrija Milojević</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span> Uspesi:  <br>
                            Državno Prvenstvo 2015:Zlantna medalja,<br>
                            Državno Prvenstvo 2016:Srebrna medalja,<br>
                            Kup Cara Konstantina 2017:Zlantna medalja<br>

                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 d-flex justify-content-end">
        
        <div class="col">
            <h4 class="display-4 text-dark ">Pomoćni  trener</h4>
        <hr>
            <span class="mr-4">Andrija Milojević je U klubu od 2012. godine. Poceo je sa 15 godina i od tada je
                napredovao. </span>
        </div>
    </div>
</div>

<div class="row d-flex m-0 justify-content-center my-4">
 <div class="col-lg-4 col-sm-12 d-flex justify-content-center">

        <div class="col">
            <h4 class="display-4 text-dark">Asistent</h4>
    <hr>
    
            <span> Aleksandar Colovic je U klubu od 2014. godine. Poceo je sa 16 godina i od je postigao dosta uspeha.</span>

        </div>

    </div>
    <div class="col-lg-4 col-sm-12 d-flex justify-content-end ">
        <div class="mask  ">
            <button type="button" class="btn p-0 m-0 mt-4" data-toggle="modal" data-target="#exampleModal2">
                <img src="../../assets/img/sale1.jpg " class="ml-4 m-0" alt="">
            </button>
            <br>
            <small class="ml-4">Aleksandar Colovic-Asistent</small>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aleksandar Čolović</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>
                             Aleksandar Colovic je U klubu od 2014. godine. Poceo je sa 16 godina i od je postigao dosta uspeha. <br>
                             Državno Prvenstvo 2015:Zlantna medalja,<br>
                             Državno Prvenstvo 2016:Srebrna medalja,<br>
                             Kup Cara Konstantina 2017:Zlantna medalja<br>
 
                            
                            </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--istorija-->



<div class="row d-flex m-0 justify-content-center" id="istorijakluba">        
    <!--<div class="row d-flex m-0 justify-content-start">-->
        <hr>
    <h4 class="display-4">Istorija kluba</h4>
    <hr>
</div>
<div class="row d-flex justify-content-center">
        <div class="col-8 tekst ">
            <blockquote class="blockquote text-left">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis praesentium magni porro
                    eum. In labore tempore assumenda tenetur provident. Non repellendus corrupti error dolorum, modi
                    facilis adipisci aut sint. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    exercitationem in quam repellendus. Voluptatem ipsa sapiente quaerat quam veritatis! At
                    assumenda cum natus a? Reiciendis veniam iure incidunt ex nesciunt! Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Sed, alias ad? Voluptas ipsa recusandae iure dolores, atque
                    corporis animi provident ullam tempore perferendis culpa quis, odit dolore et modi repellendus?<
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis praesentium magni
                        porro eum. In labore tempore assumenda tenetur provident. Non repellendus corrupti error
                        dolorum, modi facilis adipisci aut sint. Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Fuga exercitationem in quam.</p></blockquote>
                    </div>
                    
                </div>
                        <div class="row d-flex justify-content-center">
                        <div class="col-4 ">
                            <blockquote class="blockquote "><p>In labore tempore assumenda tenetur provident. Non
                            repellendus corrupti error dolorum, modi facilis adipisci aut sint. Lorem, ipsum dolor sit
                            amet consectetur adipisicing elit. Fuga exercitationem in quam repellendus. Voluptatem ipsa
                            sapiente quaerat quam veritatis! At assumenda cum natus a? Reiciendis veniam iure incidunt
                            ex nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, alias ad?
                            Voluptas ipsa recusandae iure dolores, atque corporis animi provident ullam tempore
                            perferendis culpa quis, odit dolore et modi repellendus?</p></blockquote>
                        </div>
                        <div class="col-4 d-flex justify-content-end mt-2">
                            <div>
                            <img src="../../assets/img/c33.jpg" id="istorijaimg">
                        </div>
                        </div> 
                   
            
        </div>
    
    <hr />
    <div class="row d-flex m-0 justify-content-center">
        <h4 class="display-4 text-dark">Sponzori</h4>
        <hr />
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center ">
            <img src="../../assets/img/logo-daedo.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center ">
            <img src="../../assets/img/adidas-logo.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 mt-3 d-flex justify-content-center ">
            <img src="../../assets/img/bma.jpg" alt="">
        </div>
    </div>


<app-footer></app-footer>