<div class="slika d-flex justify-content-center">  <img src="../../assets/img/logo1.png" alt=""></div>
<div class="blank"></div>
<div class="container d-flex justify-content-center ">
        <div class="forma p-3 animated fadeInUp">
    <form class="p-2">
        <label for="naslov">Naslov</label>
        <input class="form-control" id="naslov" type="text" placeholder="Naslov">

        <div class="form-group"><br>    
            <label for="exampleFormControlTextarea1">Napiši članak</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    
    <button type="button" class="btn btn-outline-info" (click)="filePicker.click()">Izaberi Naslovnu Sliku</button>
    <input type="file" #filePicker> 
    <div class=""><button type="submit" name="Objavi" class="btn btn-info" >Objavi</button>
    <a class="d-flex justify-content-end text-primary text-info form-group "routerLink="/uplata" > &nbsp;&nbsp;&nbsp;
      <i class="fas fa-chevron-left mt-1 mr-2"></i><small class="mt-1 ">Vrati se nazad</small></a>
    </div>
  </form>
</div>
</div>
