          <div class="header  d-flex justify-content-around justify-content-md-end " >
            <ul class="list-inline  ">
              <li class="list-inline-item mt-1"><a routerLink="/" routerLinkActive="active" class="p-1 text-light mr-4  ">Novosti</a></li>
              <li class="list-inline-item mt-1"><a routerLink="/about" routerLinkActive="active"  class="p-1 text-light mr-4 ">O nama</a></li>
              <li class="list-inline-item mt-1"><a routerLink="/uplata" routerLinkActive="active"  class="p-1 text-light mr-4 ">Uplata</a></li>
            </ul>
          </div>
   
         